section {}

section div.container {}

section div.container div.help-tab-row {
  display: flex;
  margin: 69px 0 60px 10px;
}

section div.container div.help-tab-row div.help-tab-nav {
  flex: 0 0 25%;
}

section div.container div.help-tab-row div.help-tab-nav div.help-tab-nav-title {
  font-weight: 600;
  font-size: 32px;
  max-width: 325px;
  margin: 0 0 25px 0;
  line-height: 38px;
}



section div.container div.help-tab-row div.help-tab-nav ul.help-tab-nav-articles {}

section div.container div.help-tab-row div.help-tab-nav ul.help-tab-nav-articles li.selected {
  color: var(--color-blue);
  font-size: 20px;
}



section div.container div.help-tab-row div.help-tab-nav ul.help-tab-nav-articles li {
  font-size: 18px;
  margin: 0px 0 19px 0;
  color: var(--color-price-gray);
}

section div.container div.help-tab-row div.help-tab-nav ul.help-tab-nav-articles li:last-child {
  margin: 0;
}



section div.container div.help-tab-row div.help-tab-nav div.help-tab-article-title {
  font-weight: 500;
  margin: 12px 0 12px 0;
  font-size: 20px;
}



section div.container div.help-tab-row div.help-tab-content {
  flex: 1 1 75%;
}

section div.container div.help-tab-row div.help-tab-content div.help-tab-content-main-title {
  font-weight: bold;
  font-size: 36px;
  margin: 0 0 55px 15px;
  letter-spacing: 0.3px;
}



section div.container div.help-tab-row div.help-tab-content div.help-tab-content-article-title {
  font-weight: 600;
  font-size: 32px;
  margin: 0px 0 37px 13px;
}



section div.container div.help-tab-row div.help-tab-content div.help-tab-content-article-subtitle {
  font-weight: 600;
  font-size: 24px;
  margin: 0 0 25px 12px;
}



section div.container div.help-tab-row div.help-tab-content div.help-tab-content {}

section div.container div.help-tab-row div.help-tab-content div.help-tab-content div.help-tab-content-text {
  color: var(--color-price-gray);
  font-size: 18px;
  margin: 0 0 25px 0;
}



section div.container div.help-tab-row div.help-tab-content div.help-tab-content div.help-tab-content-img {}

section div.container div.help-tab-row div.help-tab-content div.help-tab-content div.help-tab-content-img img {}