header {}


.background-blue {
  /* height: calc(100vh - 126px); */
  background: linear-gradient(180deg, #3393FF 0%, #2383EF 100%);
  height: 640px;
}

section.background-blue div.container {}

section.background-blue div.container div.introduction-container {
  display: flex;
  justify-content: space-between;
}

section.background-blue div.container div.introduction-container div.introduction-info-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}



section.background-blue div.container div.introduction-container div.introduction-info-container p {
  color: #fff;
  margin: 0;
  font-weight: 500;
}

section.background-blue div.container div.introduction-container div.introduction-info-container p:first-child {
  font-size: 24px;
  margin: 148px 0 12px 0;
  text-transform: uppercase;
  padding: 20px 0 0 5px;
  letter-spacing: .05em;

}

section.background-blue div.container div.introduction-container div.introduction-info-container p:nth-child(2) {
  font-size: 48px;
  max-width: 720px;
  margin: 0 0 25px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 52px;

}

section.background-blue div.container div.introduction-container div.introduction-info-container p:nth-child(3) {
  font-size: 20px;
  max-width: 610px;
  margin: 0 0 20px 0;

  line-height: 26px;
}



section.background-blue div.container div.introduction-container div.introduction-info-container div.introduction-button {}

section.background-blue div.container div.introduction-container div.introduction-info-container div.introduction-button button {
  border: none;
  font-family: "SF Pro Display", sans-serif;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 20px;
  padding: 12px 24px 16px 24px;
  background-color: #fff;
  margin: 31px 0 0 5px;
  letter-spacing: .03em;
}



section.background-blue div.container div.introduction-container div.background_images {
  position: relative;
}

section.background-blue div.container div.introduction-container div.background_images div.globus-image {
  position: absolute;
  top: 0;
  left: -65%;
  z-index: 1;
  /* width: 1024px; */
}

section.background-blue div.container div.introduction-container div.background_images div.globus-image img {
  max-width: 100%;
  object-fit: cover;
}



section.background-blue div.container div.introduction-container div.background_images div.server-image {
  max-width: 600px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  left: 55px;
  top: 22px;
}

section.background-blue div.container div.introduction-container div.background_images div.server-image img {
  max-width: 100%;
}

section {}

section div.container {}

section div.container div.tariffs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 9px;
  gap: 10px;
}

section div.container div.tariffs-container div.tariff {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 87px 0 200px 0;
  padding: 25px;
  width: 352px;
}

section div.container div.tariffs-container div.tariff.recommended {
  border: 1px solid var(--color-blue)
}

section div.container div.tariffs-container div.tariff p.tariff-title {
  color: var(--color-price-gray);
  margin: 0 0 10px 0;
}

section div.container div.tariffs-container div.tariff p.tariff-title-recommended {
  display: none;
}

section div.container div.tariffs-container div.tariff.recommended p.tariff-title-recommended {
  display: block;
  font-weight: 500;
  color: var(--color-blue);
  margin: 0 0 10px 0;
}

section div.container div.tariffs-container div.tariff.recommended p.tariff-title {
  display: none;
}


section div.container div.tariffs-container div.tariff p.tariff-name {
  font-weight: bold;
  color: var(--color-dark);
  font-size: 20px;
  border-bottom: 1px solid var(--color-border);
  padding: 0 0 20px 0;
}



section div.container div.tariffs-container div.tariff div.resources-container {
  margin: 25px 0 20px 0;
  border-bottom: 1px solid var(--color-border);
  padding: 0 0 20px 0;
}

section div.container div.tariffs-container div.tariff div.resources-container p.resources-title {
  font-weight: 600;
  color: var(--color-dark);
  margin: 0 0 20px 0;
}



section div.container div.tariffs-container div.tariff div.resources-container div.resource-item {
  display: flex;
  align-items: flex-start;
  margin: 0 0 18px 0;

}

section div.container div.tariffs-container div.tariff div.resources-container div.resource-item:last-child {
  margin: 0;
}

section div.container div.tariffs-container div.tariff div.resources-container div.resource-item div.resource-item-icon {}

section div.container div.tariffs-container div.tariff div.resources-container div.resource-item div.resource-item-icon svg {}

section div.container div.tariffs-container div.tariff div.resources-container div.resource-item div.resource-item-icon svg path {}



section div.container div.tariffs-container div.tariff div.resources-container div.resource-item div.resource-item-stats {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 5px;
}

section div.container div.tariffs-container div.tariff div.resources-container div.resource-item div.resource-item-stats div.resource-item-stats-title {
  font-weight: 600;
  color: var(--color-dark);
}



section div.container div.tariffs-container div.tariff div.resources-container div.resource-item div.resource-item-stats div.resource-item-stats-desc {
  color: var(--color-price-gray);

}


section div.container div.tariffs-container div.tariff div.price-container {}

section div.container div.tariffs-container div.tariff div.price-container p.price-info-text {
  font-weight: 500;
  color: var(--color-dark);
  margin: 5px 0 16px 0px;
}



section div.container div.tariffs-container div.tariff div.price-container div.price-num {
  display: flex;
  align-items: center;
}

section div.container div.tariffs-container div.tariff div.price-container div.price-num div.price-crossout {
  text-decoration: line-through;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-price-gray);

}

section div.container div.tariffs-container div.tariff div.price-container div.price-num div.price-crossout::after {
  content: '\20BD';
}


section div.container div.tariffs-container div.tariff div.price-container div.price-num div.price-actual {
  font-weight: 500;
  font-size: 20px;
  color: var(--color-dark);
  padding: 5px 10px;
  background-color: #000B261A;
  border-radius: 150px;
  margin: 0 5px;
}

section div.container div.tariffs-container div.tariff div.price-container div.price-num div.price-actual::after {
  content: '\20BD';
}



section div.container div.tariffs-container div.tariff div.price-container div.price-num div.price-details {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-dark);
}



section div.container div.tariffs-container div.tariff div.price-container div.price-saving {
  margin: 5px 0 40px 0;
  color: #000B2666;

}



section div.container div.tariffs-container div.tariff div.price-container div.tariff-button {}

section div.container div.tariffs-container div.tariff div.price-container div.tariff-button button {
  width: 100%;
  border: none;
  background-color: var(--color-dark);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 17px 0px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  margin: 6px 0 0 0px;

}

section div.container div.tariffs-container div.tariff div.price-container div.tariff-button button:hover {
  background-color: var(--color-blue);
  color: #fff;
}



section {}

section div.container {}

section div.container div.benefits-container {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  background-color: #fff;
  padding: 20px;
}

section div.container div.benefits-container div.benefits-title-container {
  display: flex;
  justify-content: space-between;
}

section div.container div.benefits-container div.benefits-title-container div.benefits-title-text {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-dark);
  margin: 0 0 20px 8px;
}



section div.container div.benefits-container div.benefits-title-container div.benefits-title-icon {
  position: relative;
  left: 10px;
}


section div.container div.benefits-container div.benefits-description-container {}

section div.container div.benefits-container div.benefits-description-container p.benefits-description-text {
  color: var(--color-price-gray);
  max-width: 430px;
  line-height: 21px;
  padding: 0 0 0 7px;
  letter-spacing: .6px;
}

section div.container div.benefits-row {
  display: flex;
  gap: 10px;
}

section div.container div.benefits-row:last-child {
  margin: 20px 0 42px 0;
}

.background-black {
  background-color: var(--color-dark);
}

.background-black {}

div.banner-container {
  position: relative;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  padding: 54px 0 0 56px;
  box-sizing: border-box;

}

div.banner-container div.banner-image {
  position: absolute;
  top: 6px;
  left: 97%;
  transform: translateX(-100%);
}

div.banner-container div.banner-image img {}



div.banner-container div.banner-info-container {}

div.banner-container div.banner-info-container p.banner-info-title {
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  max-width: 547px;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: .6px;
}



div.banner-container div.banner-info-container p.banner-info-description {
  font-size: 20px;
  color: #A6B3D1;
  max-width: 681px;
  margin: 10px 0 50px 0;
  letter-spacing: 0.6px;
  line-height: 28px;
}



div.banner-container div.banner-info-container div.banner-button-container {
  margin: 40px 0 0 1px;
}

div.banner-container div.banner-info-container div.banner-button-container a.banner-link {
  border: none;
  text-decoration: 0;
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 500;
  padding: 15px 25px;
  background-color: #fff;
  letter-spacing: .03em;
}

section {}

section div.container {}

section div.container div.specification-container {
  margin: 374px 0 308px 25px;
}

section div.container div.specification-container div.specification-item {
  display: flex;
  justify-content: space-between;
  margin: 0 0 118px 0;

}

section div.container div.specification-container div.specification-item.reverse {
  flex-direction: row-reverse;
}

section div.container div.specification-container div.specification-item.reverse div.specification-texts {
  padding: 45px 24px 0 0;
}


section div.container div.specification-container div.specification-item div.specification-texts {
  padding: 45px 0 0 0;
}

section div.container div.specification-container div.specification-item div.specification-texts div.specification-title {
  font-weight: 500;
  font-size: 32px;
  color: var(--color-dark);
  margin: 0 0 44px 0;

  letter-spacing: 0.015em;


}



section div.container div.specification-container div.specification-item div.specification-texts div.specification-intruction-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 25px 0;
}

section div.container div.specification-container div.specification-item div.specification-texts div.specification-intruction-container:nth-child(4) {
  margin: 0;
}

section div.container div.specification-container div.specification-item div.specification-texts div.specification-intruction-container div.specification-intruction-icon {
  margin: 0 10px 0 0;
  position: relative;
  top: -6px;
}

section div.container div.specification-container div.specification-item div.specification-texts div.specification-intruction-container div.specification-intruction-icon svg {}

section div.container div.specification-container div.specification-item div.specification-texts div.specification-intruction-container div.specification-intruction-icon svg path {}



section div.container div.specification-container div.specification-item div.specification-texts div.specification-intruction-container div.specification-intruction-texts {}

section div.container div.specification-container div.specification-item div.specification-texts div.specification-intruction-container div.specification-intruction-texts div.specification-intruction-title {
  font-weight: 500;
  font-size: 24px;
  margin: 0 0 5px 0;
  letter-spacing: .4px;

}



section div.container div.specification-container div.specification-item div.specification-texts div.specification-intruction-container div.specification-intruction-texts div.specification-intruction-description {
  font-size: 18px;
  color: var(--color-gray);
  max-width: 568px;
  letter-spacing: .3px;
  line-height: 26px;
}



section div.container div.specification-container div.specification-item div.specification-texts div.specofocation-button-container {}

section div.container div.specification-container div.specification-item div.specification-texts div.specofocation-button-container a {
  text-decoration: none;
  display: inline-block;
  border: none;
  background-color: #fff;
  color: var(--color-dark);
  padding: 10px 24px 16px 24px;
  font-size: 20px;
  font-weight: 500;
  margin: 50px 0 0 0;
  font-family: "SF Pro Display", sans-serif;
  line-height: 28px;

}



section div.container div.specification-container div.specification-item div.specification-image {
  flex: 0 0 732px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -20px;
}

section div.container div.specification-container div.specification-item div.specification-image img {
  max-width: 100%;
  height: 692px;
}

.w548 {
  max-width: 548px;
}