div.background-blue {
  background-color: #3393FF;
}

div.background-dark {
  background-color: var(--color-dark);
  flex: 0 0 49%;
  height: 277px;
}

div.background-orange {
  background-color: #F27A0B;
  flex: 0 0 49%;
  height: 277px;

}

.orange {
  left: 103% !important;
  top: 5px !important;
  height: 278px;
  width: 278px;
}

.orange-text {
  max-width: 366px !important;
  margin: 47px 0 0 16px !important;
  line-height: 50px;
}

.orange img {
  max-width: 100%;
}


div.banner-container {
  position: relative;
  min-height: 343px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

div.banner-container div.banner-image {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
}

div.banner-container div.banner-image.dark {
  position: absolute;
  top: 21px;
  left: 134%;
  transform: translateX(-100%);
  height: 257px;
  overflow: hidden;
}

.dark-text {
  width: 500px;
  margin: 47px 0 46px 35px !important;
  line-height: 50px;
}

div.banner-container div.banner-image img {}

.banner-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

div.banner-container div.banner-info-container {
  position: relative;
  z-index: 1;
  padding: 0 0 0 20px;
}

div.banner-container div.banner-info-container p.banner-info-title {
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  max-width: 600px;
  text-transform: uppercase;
  margin: 57px 0 0 16px;
  letter-spacing: 1.6px;
}



div.banner-container div.banner-info-container p.banner-info-description {
  font-size: 20px;
  color: #fff;
  max-width: 845px;
  margin: 18px 0 48px 17px;
  line-height: 26px;
  letter-spacing: 1.3px;
}



div.banner-container div.banner-info-container div.banner-button-container {
  margin: 45px 0 0 18px;
}

div.banner-container div.banner-info-container div.banner-button-container a.banner-link {
  border: none;
  text-decoration: 0;
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 500;
  padding: 15px 25px;
  background-color: #fff;
  letter-spacing: .5px;
}

.banner-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  margin: 125px 0 32px 7px;
}