

section.domains-table {
  background-color: #fff;
  margin: 24px 0 0 0;
  border-radius: 12px;
  padding: 18px 24px;
}

section.domains-table div.domains-over-table {
  display: flex;
  justify-content: space-between;
}

section.domains-table div.domains-over-table div.domains-over-table-inputs {
  display: flex;
  gap: 12px;
  align-items: center;
}

section.domains-table div.domains-over-table div.domains-over-table-inputs button {
  border: none;
  color: var(--color-text-gray);
  font-weight: 500;
  font-size: 18px;
  padding: 8px 20px 12px 20px;
  background-color: #B7C7ED33;
  transition: all .3s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
}

section.domains-table div.domains-over-table div.domains-over-table-inputs button:hover {
  color: #fff;
  background-color: var(--color-text-primary);
}



section.domains-table div.domains-over-table div.domains-over-table-inputs div.switch-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

section.domains-table div.domains-over-table div.domains-over-table-inputs div.switch-container input#switch {}



section.domains-table div.domains-over-table div.domains-over-table-inputs div.switch-container label {}

section.domains-table div.domains-over-table div.domains-over-table-inputs div.switch-container span {
  color: var(--color-text-gray);
  font-size: 18px;
  font-weight: 500;
}



section.domains-table div.domains-over-table div.domains-over-table-search {
  display: flex;
  align-items: center;
  position: relative;
  flex: 0 0 500px;
}

section.domains-table div.domains-over-table div.domains-over-table-search input {
  border: 2px solid #000B260D;
  border-radius: 15px;
  padding: 0 10.5px;
  width: 100%;
  font-size: 18px;
  color: var(--color-text-secondary);
  letter-spacing: .3px;
  height: 44px;
}



section.domains-table div.domains-over-table div.domains-over-table-search span {
  position: absolute;
  top: 0;
  right: 10px;
  transform: translateY(50%);
}

section.domains-table div.domains-over-table div.domains-over-table-search span svg {}

section.domains-table div.domains-over-table div.domains-over-table-search span svg path {}



section.domains-table table.domains {
  width: 100%;
  display: block;
}

section.domains-table table.domains thead {
  display: block;
  margin: 25px 0 0 0;
  width: 100%;
  border-bottom: 1px solid #000B260D;
  padding: 0 0 19px 0;
}

section.domains-table table.domains thead tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.domain-table-col-domain {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 !important;

}

#domains,
#auto-renewal,
#paid-up {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  font-family: 'SF Pro Display', sans-serif;
  letter-spacing: .3px;
}

section.domains-table table.domains thead tr th {
  font-weight: 500;
  font-size: 18px;
  font-family: 'SF Pro Display', sans-serif;
  letter-spacing: .3px;
  margin: 0 0 0 24px;
}

section.domains-table table.domains thead tr th input#select_all {
  width: 18px;
  height: 18px;
}



section.domains-table table.domains tbody {
  display: block;
  width: 100%;
}

section.domains-table table.domains tbody tr {
  display: block;
  padding: 19px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

section.domains-table table.domains tbody tr td {
  font-size: 18px;
  letter-spacing: .3px;
  flex: 1 0 14.28%;
  margin: 0 0 0 16px;
}

section.domains-table table.domains tbody tr td.domains-item-first-col {
  color: var(--color-text-primary);
  margin: 0 !important;
}

section.domains-table table.domains tbody tr td input#domain_checkbox_1 {
  width: 18px;
  height: 18px;
}