section .service-container {}

.service-container {
  background-color: #fff;
  padding: 20px 20px 10px 26px;
  margin: 25px 0 0 0;
  border-radius: 12px;

}

section .service-container div.service-header {

  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 12px 0;
}

section .service-container div.service-header div.service-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

section .service-container div.service-header div.service-title svg {
  margin: 0 6px 0 0;
}

section .service-container div.service-header div.service-title svg path {}



section .service-container div.service-header div.service-chevron {}

section .service-container div.service-header div.service-chevron svg {}

section .service-container div.service-header div.service-chevron svg path {}



section .service-container div.service-content {
  background-color: #F7F9FC;
  padding: 24px 24px;
  display: flex;
  gap: 12px;
  position: relative;
}

section .service-container div.service-content div.service-item {
  padding: 22px 20px 20px 23px;

  background-color: #fff;
  border-radius: 12px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

section .service-container div.service-content div.service-item:hover {
  background-color: #0077FE05;
}

section .service-container div.service-content div.service-item div.service-item-title {
  font-weight: 500;
  font-size: 18px;
  color: var(--color-dark);
  margin: 0 0 12px 0;

}



section .service-container div.service-content div.service-item div.service-item-price {
  font-size: 18px;
  color: var(--color-text-secondary);
  margin: 0 0 85px 0;
}



section .service-container div.service-content div.service-item div.service-item-tariff-name {
  color: var(--color-text-secondary);
  font-size: 18px;
}



section .service-container div.service-content div.service-item-add {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 12px;
  font-size: 72px;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

section .service-container div.service-content div.service-item-add:hover {
  background-color: #0077FE05;
}



section .service-container div.service-content div.service-background-image {
  position: absolute;
  top: 0;
  left: 60%;
  opacity: .4;
}

section .service-container div.service-content div.service-background-image img {
  max-width: 100%;
}

.service-item-server-status {
  color: #3CC87D;
  display: flex;
  align-items: center;
  gap: 4px;
}

.service-item-server-status span {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #3CC87D;
}

section {}

section div.shop-container {
  background-color: #fff;
  border-radius: 12px;
  margin: 24px 0 0 0;
  padding: 24px;
}

section div.shop-container div.shop-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: .03em;
  margin: 0 0 16px 0;
}



section div.shop-container div.shop-row {
  display: flex;
  gap: 24px;
}

section div.shop-container div.shop-row div.shop-col {
  flex: 0 1 739px;
  background-color: var(--color-base-container);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section div.shop-container div.shop-row div.shop-col div.shop-text {
  display: flex;
  gap: 13px;
  align-items: center;
}

section div.shop-container div.shop-row div.shop-col div.shop-text div.shop-icon {}

section div.shop-container div.shop-row div.shop-col div.shop-text div.shop-icon svg {}

section div.shop-container div.shop-row div.shop-col div.shop-text div.shop-icon svg path {}



section div.shop-container div.shop-row div.shop-col div.shop-text div.shop-text-col {}

section div.shop-container div.shop-row div.shop-col div.shop-text div.shop-text-col div.shop-text-title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: .03em;
}



section div.shop-container div.shop-row div.shop-col div.shop-text div.shop-text-col div.shop-text-desc {
  font-size: 18px;
  letter-spacing: .03em;
  color: #565E71;
}



section div.shop-container div.shop-row div.shop-col div.shop-button {}

section div.shop-container div.shop-row div.shop-col div.shop-button button {
  border: none;
  color: var(--color-text-gray);
  padding: 12px 16px 16px 16px;
  font-weight: 500;
  font-family: 'SF Pro Display', sans-serif;
  background-color: var(--color-button-secondary);
  transition: all .3s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
}

section div.shop-container div.shop-row div.shop-col div.shop-button button:hover {
  background-color: var(--color-text-primary);
  color: #fff;
}